
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    /* background-color:#31363F; */
    background-color: black;
    color:white;
    font-family:"Ubuntu Mono";
    margin:auto 2em;

    padding:0;
}

#title{
    color:#E95793;
    /* green coding color #00CC00; */
    font-family:"Pacifico";
    word-spacing:20px;
    font-size: 350%;
    padding:0;
    margin:0;
}



#homeContainer p{
    margin:0;
}

#homeContainer{
    text-align: center;
    margin:auto 1em;
    font-size:200%;
    margin:3.5em 5em 5em 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#typingText{
    color:#E95793;
    text-shadow:1px 1px 3px ;
    cursor: pointer;
}


footer{
    border-top:1px solid #E95793;
    color:#E95793;
    text-align: center;
    margin:10px;
    padding:1em;
}

#quizzesNav{
   text-align: right;
    font-size: 20px;
    letter-spacing: 1px;
    color:#E95793;
    font-weight: 100;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

nav{
    margin:0.5em 0.1em auto auto;
    display: flex;
    justify-content: end;
}

#quizesNav:hover{
    cursor:pointer;
}