@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



body{
    /* background-color:#31363F; */
    background-color: black;
    color:white;
    font-family:"Ubuntu Mono";
    margin:auto 4em;
    padding:0;
}

h1{
    color:#E95793;
    font-family:"Pacifico";
    text-align: center;
    font-size:3.5em;
    margin:0;
}

a{
    text-decoration: none;
}

  #quizzes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:1em;
    margin-top:4em;
      }

      h2{
        font-size: 30px;
        letter-spacing: 2px;
        margin:0;
        padding:0;
      }

      p{
        font-size: 20px;
        margin:0;
        padding:0;
        text-transform: capitalize;
      }

/* fieldset */
.quiz {
    width:20em;
    height:15em;
    background: #E95793;
    border:none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:0.5em;
    align-items: center;
    border-radius:1em;
    position: relative;
  }
  
  .quiz:hover{
    background-color: black;
    border:3px solid #E95793;
    box-sizing: border-box;
  }



/* buttons */
#buttons{
    display: flex;
    align-items: center;
    gap:1em;
    margin:1em auto;
}

#buttons button{
    font-family: inherit;
    font-size:20px;
    padding:10px;
    background-color: white;
    color:#E95793;
    border:none;
    border-radius: 10px; 
}

#buttons button:hover{
    color:white;
    background-color: #E95793;
    border:1px solid #E95793;
    cursor: pointer;
}

.verwijder{
    width:1.25em;
    position: absolute;
    top:5%;
    right:3%;
    filter: invert(1) brightness(10000%); /* make the cross white */
}

.verwijder:hover{
    cursor: pointer;
}

#Oops{
    text-align: center;
    padding:0;
    margin:0;
}

#Oops a{
    color:#E95793;
    text-decoration: underline;
}

#catImg{
    padding:0;
    margin:0.5em auto;
    width:30em;
}

/* footer */
footer{
    border-top:1px solid #E95793;
    color:#E95793;
    text-align: center;
    margin:10px;
    margin-top:4em;
    padding:1em;
}

