@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



body{
    /* background-color:#31363F; */
    background-color: black;
    color:white;
    font-family:"Ubuntu Mono";
    margin:0;
    padding:0;
}

h1{
    color:#E95793;
    font-family:"Pacifico";
    text-align: center;
    font-size:3.5em;
    margin:0;
}

a{
    text-decoration: none;
}




input{
    background: transparent;
}

#buttons{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap:10px;
    top:30%;
    right:10px;
}

button{
    cursor:pointer
}

button[disabled]{
    color:grey;
    cursor:default
}


#saveButton{
    position:absolute;
    right:3%;
    font-size:20px;
    padding:7px;
    border:none;  
}

fieldset img,img{
    width:30px;
    height:30px;
}

fieldset img.edit,img{
    box-sizing: border-box;
    padding:4px;
    cursor:pointer;
    filter: invert(100%) grayscale(100%);
}

/* img:hover,#saveButton.hover:hover,#buttons:hover,#addButton:hover{
    cursor:pointer;
    color:#007bff;
} */

#addButton{
    position: fixed;
    bottom:3%;
    right:3%;
    font-size:20px;
    border-radius: 20px;
    padding:7px;
    border:2px solid #DDDDDD;    
}

.buttonSaveQuestion{
    border-radius: 20px;
    border:2px solid #DDDDDD; 
    font-size:100%;  
}

.editLabels{
    border:none;
    font-size:inherit;
    font-weight: inherit;
    color:inherit
}

#title{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
}


fieldset {
    max-width: 1000px;
    width:100%;
    margin: 10px auto;
    background: transparent;
    display: flex;
    flex-direction: column;
    position:relative; 
    border-color:#E95793;
    border-radius:5px;
  }
  
  fieldset .legend {
   font-size:1.5em;

  }
  
label.correct{
    color:#E95793;
}

footer{
    border-top:1px solid #E95793;
    color:#E95793;
    text-align: center;
    margin:10px;
    padding:1em;
}

