@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



body{
    /* background-color:#31363F; */
    background-color: black;
    color:white;
    font-family:"Ubuntu Mono";
    margin:auto 4em;
    padding:0;
}

h1{
    color:#E95793;
    font-family:"Pacifico";
    text-align: center;
    font-size:3.5em;
    margin:0;
}

#quizname{
    font-family: 'Ubuntu Mono';
    font-size:3em;
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

.infoBox{
    font-size: 150%;
    text-transform:uppercase
}


.editLabels{
    border:none;
    font-size:inherit;
    font-weight: inherit;
    font-family: inherit;
    color:inherit;
    background: transparent;
}


#title{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
}

  #quizContainer{
    display: flex;
    flex-direction: column;
      }

#container{
    position: relative;
    padding-bottom: 7em;
    margin-top:2em;
    display: flex;
    flex-direction: column;
    gap:1.5em;
    justify-content: space-between;
    align-items: center;
}

/* fieldset */
fieldset {
    max-width: 1000px;
    width:100%;
    background: #E95793;
    border:none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius:5px;
    padding-top:0;

  }
  
  fieldset:hover{
    background-color: black;
    border:3px solid #E95793;
    box-sizing: border-box;
  }


  fieldset .legend {
   font-size:1.5em;
   margin-bottom:0.5em;

  }

  fieldset label{
    font-size:1.25em;
    display:flex;
   margin-bottom:10px;
  }
  
  fieldset img,img{
    width:auto;
    height:3em;
    cursor:pointer;
    filter: invert(100%) grayscale(100%);
}

fieldset img.edit{
    height:2.35em;
    width:2.35em
}

label.correct{
   color:#32de84;
   font-weight: bold;
}

/* buttons */
#buttons{
    display: flex;
    align-items: center;
}

#addButton{
    position: fixed;
    font-family: inherit;
    bottom:3%;
    right:3%;
    font-size:20px;
    border-radius: 30px;
    padding:7px;
    color:#E95793;
    border:3px solid #E95793;    
}

.buttonSaveQuestion{
    border-radius: 20px;
    background-color: transparent;
    border:none;
    color:inherit;
letter-spacing: 2px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:120%;  
}

button{
    cursor:pointer
}

button[disabled]{
    color:grey;
    cursor:default
}

#saveButton{
    position:absolute;
    font-family: inherit;
    top:36%;
    right:6%;
    font-size:20px;
    padding:10px;
    background-color: #E95793;
    color:white;
    border:none;
    border-radius: 20px; 
}

#saveButton:hover{
    color:#E95793;
    background-color: white;
    border:1px solid #E95793
}

#chevron-right{
    border:none;
    background: transparent;
    position: absolute;
    right:3%;
    bottom:1%;
    cursor:pointer;
}
#chevron-right img{
    filter: invert(100%) grayscale(100%);
    width:4em;
    height:4em
}

/* footer */
footer{
    border-top:1px solid #E95793;
    color:#E95793;
    text-align: center;
    margin:10px;
    padding:1em;
}

